<!--Joanna Pace Assigned contact.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <form>

  <div class="card mx-auto" style="width: 75%;">
    <div class="card-body">
    <h5 class="card-title"><strong>Contact</strong></h5>
    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum vero eveniet explicabo impedit consectetur quas quasi, animi in numquam officia molestias dicta, quod fugit, nemo maiores magnam id sit facere.</p>
   
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please enter your email." required> </input>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
   <div class="mb-3">
    <label for="validationTextarea" class="form-label">Your message</label>
    <textarea class="form-control" id="validationTextarea" placeholder="Please enter a message here." required></textarea>
    <div class="invalid-feedback">
      Please enter a message here.
    </div>
 
  <button type="submit" class="btn btn-primary float-end">Submit</button>

  </div>
</div>
</form>
</body>
</html>