<!-- your html code here -->
 <!-- Tyrone -->
  
 <div class="text-center">
     <img src="https://scontent-hou1-1.xx.fbcdn.net/v/t39.30808-6/473427774_1134829181339919_4929899495952293293_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=-PXOiFSIDDAQ7kNvwGTiqRR&_nc_oc=AdmzmKGXrn7uzZMKLt6I8lwumvJvnsMAAiRZKv4-d6dpf7wbsv74pZJ9GBmdv8Kth38&_nc_zt=23&_nc_ht=scontent-hou1-1.xx&_nc_gid=aj1OrNgG99MDlj5ScTE06Q&oh=00_AfRi2XbIEzu0FBs8ZIWmr2dJuLvlpqkaF2ZNZS_3y3Usig&oe=6871D373" class="rounded" alt="...">
     <p style="text-align: left; font-size: 35px;">Come And See <strong>The World's Best Sunsets</strong></p>
     <p style="text-align: left;">Sunsets offer psychological benefits like stress reduction and improved mood, act as a natural time cue for better sleep, and symbolize beauty, reflection, and new beginnings across various cultures. They act as a natural reminder of transitions and can encourage mindfulness and reflection. Witnessing this daily natural wonder can inspire gratitude, boost creativity, and help regulate sleep patterns.</p>
</div>
